{% extends 'base.html' %}

{% block title %}：个人信息{% endblock %}
{% block header %}<h3>个人信息</h3>{% endblock %}
{% block stylesheet %}
    <link rel = "stylesheet" href = "{{ url_for('static', filename = 'css/base.css') }}">
    <link rel = "stylesheet" href = "{{ url_for('static', filename = 'css/infoManagement/information.css') }}">
{% endblock %}

{% block content %}
    <form id = 'information' enctype = "multipart/form-data" method = "post" name = 'modify'>
        <img title = '单击图片以修改头像' id = 'headshot' class = 'headshot' src = {{ '../static/' + g.user['headshot'] }} alt = '头像' onclick = "this.nextElementSibling.click();">
        <input type = 'file' class = 'infolist' name = "setHeadshot" id = 'setHeadshot' disabled = 'disabled' accept = 'image/*' style = "display: none;" onchange = "changeHeadshot(this)">
        <div class = 'inputBox' id = 'tipBox'>
            {% if not get_flashed_messages() %}
                <div class = 'flash' id = 'tips'></div>
            {% endif %}
            {% for message in get_flashed_messages() %}
                <div class = 'flash' id = 'tips'>{{ message }}</div>
            {% endfor %}
        </div>
        <div class = 'inputBox'>
            <label for = 'id'>编号:&nbsp;</label>
            <input name = 'id' id = 'id' disabled = 'disabled' value = "{{ g.user['id'] }}">
        </div>
        <div class = 'inputBox'>
            <label for = 'username'>用户名:&nbsp;</label>
            <input class = 'infolist' name = 'username' id = 'username' disabled = 'disabled' value = "{{ g.user['username'] }}" onchange = "check(this, 'username')" required>
        </div>
        <div class = 'inputBox'>
            <label for = 'phone'>手机号:&nbsp;</label>
            <input type = 'tel' class = 'infolist' name = 'phone' id = 'phone' disabled = 'disabled' value = "{{ g.user['phone'] }}" onchange = "check(this, 'phone')" required>
        </div>
        <!-- 以弹出框的形式获取验证码并验证
            <div class = 'inputBox'>
            <label for = 'code'>验证码:&nbsp;</label>
            <div class = 'codeBox' >
                <input name = 'code' id = 'code' disabled = 'disabled' onchange = "check(this, 'code')" required>&nbsp;
                <button id = 'getCode' onclick = "sendCode()">获取验证码</button>
            </div>
        </div> -->
        <div class = 'inputBox'>
            <label for = 'email'>邮箱:&nbsp;</label>
            <input type = 'email' class = 'infolist' name = 'email' id = 'email' disabled = 'disabled' value = "{{ g.user['email'] if g.user['email'] is not none else '' }}" onchange = "check(this, 'email')">
        </div>
        <div class = 'inputBox'>
            <label for = 'age'>年龄:&nbsp;</label>
            <input type = 'number' class = 'infolist' min = '0' name = 'age' id = 'age' disabled = 'disabled' value = "{{ g.user['age'] }}" onchange = "check(this, 'age')">
        </div>
        <div class = 'inputBox'>
            <label for = 'sex'>性别:&nbsp;</label>
            <div id = 'sexChoice'>
                <span>&nbsp;<input type = 'radio' class = 'infolist' name = 'sex' id = 'male' value = "男" disabled = 'disabled' {% if g.user['sex'] == '男' %}checked{% endif %}>男</span>
                <span>&nbsp;<input type = 'radio' class = 'infolist' name = 'sex' id = 'female' value = "女" disabled = 'disabled' {% if g.user['sex'] == '女' %}checked{% endif %}>女</span>
                <span>&nbsp;<input type = 'radio' class = 'infolist' name = 'sex' id = 'none' value = "私密" disabled = 'disabled' {% if g.user['sex'] == '私密' %}checked{% endif %}>私密</span>
            </div>
        </div>
        <div class = 'inputBox' id = 'btnBox'>
            <div class = 'modifyButton' name = 'button'>
                <input type = 'submit' value = "修改信息">
            </div>
        </div>
    </form>
    <script>
        dst = '';
        function changeHeadshot() {
            var headshot = document.getElementById('headshot');
            var file = document.getElementById('setHeadshot').files[0];
            var re = new FileReader();
            re.readAsDataURL(file);
            re.onload = function(re) {
                dst = this.result;
                headshot.getAttributeNode("src").value = '';
                headshot.getAttributeNode("src").value = this.result;
            }
        }
        obj = document.getElementsByTagName('form')[0];
        btn = document.getElementById('btnBox').childNodes[1];
        obj.onsubmit = function() {
            para = obj.name;
            return changeInfo();
        }
        function finalCheck(typebtn) {
            tips = document.getElementById('tips');
            btn = document.getElementsByName('button')[0].childNodes[1];
            for(var i = 0; i < checkPara.length; i++) {
                if(checkVal[i] == 1) {
                    tips.innerHTML = errorText[i];
                    return false;
                }
            }
            return true;
        }
        function changeInfo() {
            formList = document.getElementsByClassName('infolist');
            if(btn.getAttribute('class') == 'modifyButton'){
                for(var j = 0;j < formList.length;j++){
                    formList[j].removeAttribute("disabled");
                }
                btn.setAttribute("class", 'saveButton');
                btn.childNodes[1].value = '保存';
                return false;
            }
            return true;
        }
    </script>
    <!-- 
        document.getElementById("headshot").addEventListener("click", function(this){
            this.src = '../static/images/headshot/default1.jpg';
        })
        document.getElementById("headshot").addEventListener("mouseleave", function(this){
            if(dst == '') {
                e.src = '../static/images/headshot/default.jpg';
            }
            else {
                e.src = dst;
            }
        }) 
    -->
{% endblock %}