@charset "UTF-8";
#article_body {
    width: 1285px;
    height: 30px;
    padding: 5px;
    text-align: center;
}
#article_header {
    background-color: rgb(218, 218, 218);
}
#text_editormd {
    max-width: 1285px !important;
    max-height: 530px;
    min-height: 530px;
    overflow-y: auto;
    background-color: rgb(245, 243, 222);
}
.editormd-html-preview {
    width: auto !important;
}
