@charset "UTF-8";
.content {
    align-items: center !important;
}
#modifyPassword {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 60%;
    box-shadow: 2px;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid grey;
    background: linear-gradient(white, rgb(205, 205, 205));
}
#tipBox {
    height: auto;
}
.flash {
    width: 70%;
}
.inputBox {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 7%;
    width: 240px;
}
.inputBox>input {
    text-indent: 12px;
    margin-bottom: -2px;
}
#btnBox {
    justify-content: space-around;
}
.modifyPasswordButton {
    display: flex;
    height: 150%;
    width: 100%;
}
.modifyPasswordButton>input {
    display: flex;
    justify-content: center;
    border: white 1px solid;
    color: white;
    border-radius: 5px;
    background-color: rgb(13, 166, 226);
    width: 100%;
}
.modifyPasswordButton>input:hover {
    cursor: pointer;
    background-color: rgb(89, 196, 238);
}